* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'PT Sans', Arial, Tahoma, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

.container {
    min-width: 320px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container:after {
    display: block;
    content: '';
    clear: both;
}

/*--------------HEADER--------------------*/

.header__top {
    background-color: #fff;
    position: relative;
}

.menu__top {
    float: left;
}


.menu__top li {
    display: inline-block;
    margin-right: 20px;
}

.menu__top li a {
    color: #000;
    text-decoration: none;
}

.menu__top li a:hover {
    text-decoration: underline;
}

.search {
    float: right;
    margin-top: 15px;
    width: 80px;
}


/*-----------search_form------------*/


.header__formCont {
    display: non;
}

.header__form {
    display: non;
}

.header__form {
    position: absolute;
    right: 100px;
    top: 25%;
    z-index: 1;
    }

.header__form input[type="search"] {
    height: 24px;
    border: none;
    padding-right: 25px;
    background: transparent;
}

.header__form button {
    background: #000 url(../images/glass_2.jpg) no-repeat;
    border: none;
    width: 23px;
    height: 23px;
    font-size: 0;
    position: absolute;
    bottom: 1px;
    right: 0;
    }
.header__formCont {
        display: block;
        float: right;
    }
    /*.searchIcon {
        display: block;
        width: 23px;
        height: 23px;
        margin-right: 16px;
        background: url("../images/glass_2.jpg");
    }*/


/*--------------HEADER-BOTTOM-----------------*/

.header__bottom {
    position: relative;
}

.search__item1 {
    display: inline-block;
}

.search {
    margin-right: 20px;
}

.basket__items {
    float: right;
    margin-top: 15px;
}

.basket__item1 {
    display: inline-block;
    vertical-align: middle;
}

.basket__item2 {
    display: inline-block;
    vertical-align: middle;
}

.basket__item2 img {
    width: 27px;
    height: auto;
    margin-top: 5px;
}

.search__item {
    width: 23px;
    height: 23px;
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.menu__bottom {
    margin-bottom: 10px;
}

ul.menu__bottom {
    display: inline-block;
}

.menu__bottom li {
    display: inline-block;
    margin-right: 40px;
}

.logo {
    display: inline-block;
    margin-right: 20px;
}

.logo img {
    width: 100%;
    height: auto;
}
 
.logo__name {
    display: inline-block;
    margin-top: 10px;
    margin-right: 40px;
}

.logo__name img {
    width: 100%;
    height: auto;
}

.header__bottom {
    background-color: #2d1c45;
}

.toggleMobMenu {
    float: right;
    width: 40px;
    margin-top: 15px;
    display: none;
}

.toggleMobMenu span {
    display: block;
    height: 2px;
    margin-bottom: 6px;
    background-color: #fff;
}

.toggleMobMenu span:last-child {
    margin-bottom: 0;
}

/*---------------------MAIN--------------------*/

.content {
    background-color: #fff;;
}

ul.breadcrumb  {
    margin: 0;
}

.breadcrumb li {
    display: inline-block;
    color: #000;
    font-size: 14px;
}

.breadcrumb li:after {
    content: '>'
}

.breadcrumb li:last-child:after {
    display: none;
}

hr {
    border: 1px solid grey;
}

.season a {
    color: #000;
}

h1.season {
    text-align: center;
}

.nice-select {
    margin-bottom: 20px;
    margin-left: 280px;
    
}

/*------------------ACCORDION--------------------*/

.accordion {
    margin-bottom: 20px;
    border: 2px solid #ddd;
}

.accordion__item {
    border: none;
    padding: 20px;
    padding-top: 0;
}

.accordion__item:first-child {
    border-bottom: none;
}

.accordion__item:nth-of-type(2) {
    border-bottom: none;
}

.accordion__item:nth-of-type(3) {
    border-bottom: none;
}

.accordion__itemTitle {
    display: block;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    margin-top: 7px;
    font-weight: bold;
}

.accordion__item input[type="checkbox"] {
    display: block;
    margin-bottom: 15px;
}

.accordion__checkboxWrap {
    display: none;
}

.inputWrap label {
    display: flex;
    align-content: center;
    line-height: 1;
}

.inputWrap label:before {
    display: inline-block;
    width: 13px;
    height: 13px;
    content: '';
    border: 1px solid;
    margin-right: 10px;
}

#size {
    display: none;
}

#size:checked + label:before {
    background-color: #2d1c45;
}

.filters {
    width: 251px;
    height: 50px;
    background-color: #eee;
    padding: 5px 0 0 20px;
    font-size: 20px;
    font-weight: bolder;
}

.btn {
    background-color: #fcb323;
    text-decoration: underline;
    line-height: 50px;
}

.btn a {
    color: #000;
}

#brand {
    display: none;
}

#brand:checked + label:before {
    background-color: #2d1c45;
}

#season {
    display: none;
}

#season:checked + label:before {
    background-color: #2d1c45;
}

#male {
    display: none;
}

#male:checked + label:before {
    background-color: #2d1c45;
}

#female {
    display: none;
}

#female:checked + label:before {
    background-color: #2d1c45;
}

#kids {
    display: none;
}

#kids:checked + label:before {
    background-color: #2d1c45;
}



/*--------------------THUMBNAILS------------------*/


.thumbnail {
   border: none;
   position: relative;
    
}

.item {
    margin: 20px 10px 30px 10px;
}

.special img {
    position: absolute;
    top: 4px;
    left: 9px;
}

.shoe img {
    max-width: 100%;
    height: auto;
}

.desc {
    text-transform: capitalize;
}

.desc a {
    color: #000;
}

.price {
    font-weight: bolder;
}

.old {
    color: red;
    text-decoration: line-through;
}

/*----------------PAGINATION-----------------*/

ul.pagination {
   text-align: center;
}

li.page {
    display: inline-block;
    margin-right: 20px;
}

li.page a {
    color: #000;
}

li.active a {
    color: #fff;
    display: inline-block;
    background-color: #2d1c45;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}


.history {
    margin-bottom: 50px;
}


/*--------------FOOTER--------------------*/

.footer__inner {
    background-color: #2d1c45;
}

.footer__menu {
    float: left;
    width: 25%;
    margin: 20px 0;
}

.reset {
    padding-left: 0;
}

.cr {
    float: right;
    width: 25%;
    color: #fff;
    margin-top: 20px;
}

 ul.footer__menu {
    display: inline-block;
    margin: 20px 0;
}

li.footer__items {
    list-style-type: none;
    color: #fff;
    font-size: 16px;
}

li.footer__items.catalog {
    color: #72419f;
}

li.footer__items.contacts {
    color: #72419f;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: blue;
    transition: 0.3s;
}

.code {
    text-decoration: underline;
}


/*-------------MEDIA QUERIES---------------*/

@media screen and (max-width: 1200px) {
    
    .header__form {
        right: 33px;
    }
    li.footer__items {
        font-size: 16px;
    }
}

@media screen and (max-width: 992px) {
    
    h1 {
        font-size: 28px;
    }
    .filters {
        width: 201px;
    }
    .special img {
        top: 3px;
        left: 3px;
    }
    .nice-select {
        margin-left: 223px;
    }
    .btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    
    .accordion {
        display: inline-block;
    }
    .menu__bottom {
    display: none;
    position: absolute;
    padding-top: 28px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(255,255,255,.8);
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: rgba(0,0,0,.8);
    z-index: 2;
    }
    .toggleMobMenu {
        display: block;
    }
    .menu__bottom {
        display: none;
    }
    .basket__item1 {
        display: none;
    }
    .basket__item2 img {
        display: none;
    }
    .sidebar {
        float: left;
    }
    .nice-select {
        float: right;
        margin-left: 0;
    }
    .accordion__item {
        display: none;
    }
    .btn {
        display: none;
    }
    li.footer__items {
        font-size: 12px;
    }
    .cr {
        font-size: 12px;
    }
    
}
 
@media screen and (max-width: 576px) {
    .header__top {
        display: none;
    }
    
    h1 {
        font-size: 24px;
    }
    
    ul.footer__menu {
        float: none;
        display: block;
        margin: 0;
    }
    li.footer__items {
        font-size: 12px;
        display: block;
    }
    .cr {
        float: none;
        display: block;
        width: 100%;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
     
    .basket__item1 {
        display: none;
    }
    .basket__item2 img {
        display: none;
    }
    .logo__name {
        margin-right: 0;
    }
    ul.footer__menu {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
   
    h1 {
        font-size: 18px;
    }
    .nice-select {
        float: none;
        margin: 10px auto;
    }
    .history {
        font-size: 14px;
    }
    .desc {
        font-size: 12px;
    }
    .price {
        font-size: 12px;
    }
    .old {
        font-size: 12px;
    }
}


    

    

    
    
    