* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'PT Sans', Arial, Tahoma, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
}

.container {
    min-width: 320px;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container:after {
    display: block;
    content: '';
    clear: both;
}

/*--------------HEADER--------------------*/

.header__top {
    background-color: #fff;
    position: relative;
}

.menu__top {
    float: left;
    padding-top: 5px;
    padding-bottom: 10px;
}

.menu__top li {
    display: inline-block;
    margin-right: 20px;
    padding-top: 10px;
}

.menu__top li a {
    color: #000;
    text-decoration: none;
}

.menu__top li a:hover {
    text-decoration: underline;
}

.header_top_search {
    float: right;
    position: relative; 
    padding: 5px;
}

.header_top_search input[type="search"]::placeholder {
    color: #000; 
    text-align: right;
    padding-right: 30px;
 }
.header_top_search input {
    padding-top: 10px;
    width: 100%;
    outline: 0px;
    cursor: pointer;
    border: 0px; 
 }
.header_top_search button {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 27px;
    height: 27px;
    border: 0px;
    font-size: 0px;
    outline: 0px;
    background: transparent url(../images/glass_2.jpg) no-repeat; 
}


/*--------------HEADER-BOTTOM-----------------*/

.header__bottom {
    position: relative;
}

.header_bottom_basket {
    float: right;
    padding: 8px 0px;
    border-bottom: 1px solid #8d8a90; 
}

.header_bottom_basket_link:after {
    content: '(0)';
    margin-left: 4px;
    display: inline-block; 
}

.menu__bottom {
    margin-bottom: 10px;
}

ul.menu__bottom {
    display: inline-block;
    padding-top: 10px;
}

.menu__bottom li {
    display: inline-block;
    margin-right: 20px;
}

.logo {
    display: inline-block;
    margin-right: 20px;
}

.logo img {
    width: 100%;
    height: auto;
}
 
.logo__name {
    display: inline-block;
    margin-top: 10px;
    margin-right: 40px;
}

.logo__name img {
    width: 100%;
    height: auto;
}

.header__bottom {
    background-color: #2d1c45;
}

.toggleMobMenu {
    float: right;
    width: 40px;
    padding-top: 13px;
    display: none;
}

.toggleMobMenu span {
    display: block;
    height: 2px;
    margin-bottom: 6px;
    background-color: #fff;
}

.toggleMobMenu span:last-child {
    margin-bottom: 0;
}

/*---------------------MAIN--------------------*/


.thumbnails {
    display: table;
    content: '';
    clear: both;
}

.content {
    background-color: #fff;;
}

.breadcrumbs__wrap {
    border-bottom: 2px solid grey;
    margin: 0;
}

ul.breadcrumb  {
    margin: 0;
    padding: 10px 0;
}

.breadcrumb li {
    display: inline-block;
    color: #000;
    font-size: 14px;
}

.breadcrumb li:after {
    content: '>';
}

.breadcrumb li:last-child:after {
    display: none;
}

.season a {
    color: #000;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

h1.season {
    text-align: center;
}

/*------------------ACCORDION--------------------*/

.accordionFirst {
    margin-bottom: 20px;
    border: 2px solid #ddd;
    width: 225px;
}

.accordionSecond {
    margin-bottom: 20px;
    border: 2px solid #ddd;
    width: 225px;
}

.accordion__item {
    border: none;
    padding: 20px;
    padding-top: 0;
}

.accordion__item:first-child {
    border-bottom: none;
}

.accordion__item:nth-of-type(2) {
    border-bottom: none;
}

.accordion__item:nth-of-type(3) {
    border-bottom: none;
}

.accordion__itemTitle {
    display: block;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    margin-top: 7px;
    font-weight: bold;
}

.accordion__item input[type="checkbox"] {
    display: block;
    margin-bottom: 15px;
}

.accordion__checkboxWrap {
    display: none;
}

.inputWrap label {
    display: flex;
    align-content: center;
    line-height: 1;
}

.inputWrap label:before {
    display: inline-block;
    width: 13px;
    height: 13px;
    content: '';
    border: 1px solid;
    margin-right: 10px;
}

#size40 {
    display: none;
}

#size40:checked + label:before {
    background-color: #2d1c45;
}

#size41 {
    display: none;
}

#size41:checked + label:before {
    background-color: #2d1c45;
}

#size42 {
    display: none;
}

#size42:checked + label:before {
    background-color: #2d1c45;
}

#size43 {
    display: none;
}

#size43:checked + label:before {
    background-color: #2d1c45;
}

#size44 {
    display: none;
}

#size44:checked + label:before {
    background-color: #2d1c45;
}

#size45 {
    display: none;
}

#size45:checked + label:before {
    background-color: #2d1c45;
}

#brand_Molto {
    display: none;
}

#brand_Molto:checked + label:before {
    background-color: #2d1c45;
}

#brand_Shhuna {
    display: none;
}

#brand_Shhuna:checked + label:before {
    background-color: #2d1c45;
}

#brand_Plari_Brand {
    display: none;
}

#brand_Plari_Brand:checked + label:before {
    background-color: #2d1c45;
}

#brand_Crosswood {
    display: none;
}

#brand_Crosswood:checked + label:before {
    background-color: #2d1c45;
}

#brand_Binari {
    display: none;
}

#brand_Binari:checked + label:before {
    background-color: #2d1c45;
}

#season_spring_fall {
    display: none;
}

#season_spring_fall:checked + label:before {
    background-color: #2d1c45;
}

#season_summer {
    display: none;
}

#season_summer:checked + label:before {
    background-color: #2d1c45;
}

#season_winter {
    display: none;
}

#season_winter:checked + label:before {
    background-color: #2d1c45;
}

#male_boots {
    display: none;
}

#male_boots:checked + label:before {
    background-color: #2d1c45;
}

#male_shoes {
    display: none;
}

#male_shoes:checked + label:before {
    background-color: #2d1c45;
}

#male_moccasins {
    display: none;
}

#male_moccasins:checked + label:before {
    background-color: #2d1c45;
}

#male_trainers {
    display: none;
}

#male_trainers:checked + label:before {
    background-color: #2d1c45;
}

#male_sneakers {
    display: none;
}

#male_sneakers:checked + label:before {
    background-color: #2d1c45;
}

#male_slippers {
    display: none;
}

#male_slippers:checked + label:before {
    background-color: #2d1c45;
}

#male_high_boots {
    display: none;
}

#male_high_boots:checked + label:before {
    background-color: #2d1c45;
}

#female_high_boots {
    display: none;
}

#female_high_boots:checked + label:before {
    background-color: #2d1c45;
}

#female_boots {
    display: none;
}

#female_boots:checked + label:before {
    background-color: #2d1c45;
}

#female_shoes {
    display: none;
}

#female_shoes:checked + label:before {
    background-color: #2d1c45;
}

#female_slippers {
    display: none;
}

#female_slippers:checked + label:before {
    background-color: #2d1c45;
}

#female_sandals {
    display: none;
}

#female_sandals:checked + label:before {
    background-color: #2d1c45;
}

#kids_boots {
    display: none;
}

#kids_boots:checked + label:before {
    background-color: #2d1c45;
}

#kids_shoes {
    display: none;
}

#kids_shoes:checked + label:before {
    background-color: #2d1c45;
}

#kids_high_boots {
    display: none;
}

#kids_high_boots:checked + label:before {
    background-color: #2d1c45;
}

#kids_trainers {
    display: none;
}

#kids_trainers:checked + label:before {
    background-color: #2d1c45;
}

span.openModalBtn {
    display: inline-block;
    width: 225px;
    height: 50px;
    border: 2px solid #ddd;
    border-bottom: none;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bolder;
    background-color: #eee;
}

.btn {
    background-color: #fcb323;
    text-decoration: underline;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
}

.btn a {
    color: #000;
}

/*--------------------THUMBNAILS------------------*/


.nice-select {
    margin-bottom: 20px;
}

.thumbnail {
   border: none;
   position: relative;
    
}

.item {
    margin-bottom: 30px;
}

.special {
    position: absolute;
    top: 3px;
    left: 5px;
}

.shoe img {
    max-width: 100%;
    height: auto;
}

.desc {
    text-transform: capitalize;
}

.desc a {
    color: #000;
}

.price {
    font-weight: bolder;
}

.old {
    color: red;
    text-decoration: line-through;
}

/*----------------PAGINATION-----------------*/

ul.pagination {
   text-align: center;
}

li.page {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

li.page a {
    color: #000;
}

li.active a {
    color: #fff;
    display: inline-block;
    background-color: #2d1c45;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.season__start {
    border-top: 2px solid grey;
}

.history {
    margin-bottom: 50px;
}

/*--------------FOOTER--------------------*/

.footer__inner {
    background-color: #2d1c45;
    padding: 15px 0;
    
}

.footer__menu {
    float: left;
    width: 25%;
}

.reset {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.cr {
    float: right;
    width: 25%;
    color: #fff;
}
 ul.footer__menu {
    display: inline-block;
}

li.footer__items {
    list-style-type: none;
    color: #fff;
    font-size: 16px;
}

li.footer__items.catalog {
    color: #72419f;
}

li.footer__items.contacts {
    color: #72419f;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: blue;
    transition: 0.3s;
}

.code {
    text-decoration: underline;
}


/*-------------MEDIA QUERIES---------------*/

@media screen and (max-width: 1200px) {
    
.header__form {
    right: 33px;
}
    
.btn {
    font-size: 12px;
}
span.openModalBtn {
    width: 225px;
}
    
li.footer__items {
    font-size: 16px;
}
}

@media screen and (max-width: 992px) {
    
.accordionFirst {
    width: 175px;
}
.accordionSecond {
    width: 175px;
}
span.openModalBtn {
    width: 175px; }
    
h1 {
    font-size: 28px;
}
.filters {
    width: 201px;
}
.special {
     top: 3px;
     left: 3px;
}
.nice-select {
     margin-left: 5px;
 }
.btn {
    font-size: 12px;
}
}

@media screen and (max-width: 768px) {
  
.logo {
    margin-right: 0;
}
   
.accordion__item {
    width: 175px;
}    
.accordionFirst {
    display: inline-block;
}
.accordionSecond {
    display: inline-block;
}
.menu__bottom {
    display: none;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 0;
    border-top: 1px solid rgba(255,255,255,.8);
    top: 242%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: #1a1520;
    z-index: 2;
}
.menu__bottom li {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    margin-right: 0;
}
    
.menu__top {
    display: block;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 0;
    border-top: 1px solid rgba(255,255,255,.8);
    top: 645%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: #1a1520;
    z-index: 2;
    }
    
.menu__top li {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
}
    
.menu__top li a {
    color: #fff;
}
    
.header_bottom_basket {
    display: block;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 0;
    border-top: 1px solid rgba(255,255,255,.8);
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: #1a1520;
    z-index: 2;
}
.header_bottom_basket_link {
    margin-right: 15px;
}    
    
.toggleMobMenu {
    display: block;
}
.menu__bottom {
    display: none;
}

.modalWindowWrap {
    display: inline-block;
    margin-right: 20px;
}
    
.nice-select {
    float: none;
    margin: 20px auto;
    width: 300px;        
}
.btn {
    display: none;
}
li.footer__items {
    font-size: 12px;
}
.cr {
    font-size: 12px;
}  
}
 
@media screen and (max-width: 576px) {

    
h1 {
    font-size: 24px;
}
    
ul.footer__menu {
    float: none;
    display: block;
    margin: 0;
}
li.footer__items {
    font-size: 12px;
    display: block;
}
.cr {
    float: none;
    display: block;
    width: 100%;
    font-size: 12px;
}
}

@media screen and (max-width: 480px) {
     
.logo__name {
    margin-right: 0;
}
    
.sidebar {
    margin: 0 auto;
}  
    
.openModalBtn {
    width: 251px;
    display: inline-block;
    padding: 10px 15px;
    background-color: grey;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
}

.modal.active {
    display: block;
    z-index: 10;
    height: 325px;
}

.modalWindowFirst {
    position: absolute;
    width: 480px;
    padding: 15px;
    background-color: #fff;
    margin: auto;
    top: 20px;
    left: 0;
    right: 0;
}
    
.modalWindowSecond {
    position: absolute;
    width: 480px;
    padding: 15px;
    background-color: #fff;
    margin: auto;
    top: 20px;
    left: 0;
    right: 0;
}
    
.closeModalBtn {
    position: absolute;
    top: 10px;
    right: 35px;
    width: 15px;
    height: 15px;
    background: url("../images/letter-x.svg") no-repeat center;
    background-size: cover;
    cursor: pointer;
}
    
ul.footer__menu {
    width: 100%;
}
}

@media screen and (max-width: 320px) {
   
.toggleMobMenu {
    float: none;
    margin: 0 auto;
    padding-bottom: 10px;
}
.menu__bottom {
    top: 177%;
}
    
.menu__top {
    top: 690%;
}
    
h1 {
    font-size: 18px;
}
.nice-select {
    float: none;
    margin: 10px auto;
    width: 245px;
}
.history {
    font-size: 14px;
}
    
.desc {
    font-size: 12px;
}
.price {
    font-size: 12px;
}
.old {
    font-size: 12px;
}
.currency {
    font-size: 12px;
}
li.page {
    margin-right: 5px;
}
    
.modalWindowWrap {
    margin-right: 0;
}
}


    

    

    
    
    